@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
  margin:auto;
  font-family: 'Roboto Condensed';
}

.container{
  width: 100vw;
  min-height: 100vh;
}

#img_principal{
  width: 100%;
  height: 100vh;
}

#img_facultat{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#img_principal {
  position: relative;
}

#grics_img_principal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

