.contenedor-secciones {
    display: flex;
}

.seccion-datos1{
    display: flex;
    flex-direction: column;
    width: 50%; /* Ajusta esto según tus necesidades */
    height: 100%;
    overflow: auto;
}

.seccion-datos2{
    display: flex;
    flex-direction: column;
    width: 50%; /* Ajusta esto según tus necesidades */
    height: 100%;
    overflow: auto;
}
.seccion-datosGeneral{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.publicacionsFormContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    height: 100vh;
    overflow: auto;
}

.titleNovaPublicacio{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    width: 80%;
    margin-bottom: 1em;
}

.publicacionsForm{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    background-color: #002651;
    border-radius: 10px;
    height: 90%;
}

.formPublicacions{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
/*  */
.publicacionsForm input[type="text"],
.publicacionsForm input[type="number"],
.publicacionsForm textarea{
    margin: 4%;
    width: 40%;
    padding: 1.5%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: left;
}
/*  */
.formPublicacions input{    
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width:50%;
    height: 2em;
    font-size: 0.8em;
}

/* .formPublicacions textarea{
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width:50%;
} */

.formPublicacions button{
    background-color: #ccc;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}
.formPublicacions button:hover{
    background-color: #B44343;
    color: white;
}