.menu{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #002651;
    padding: 10px 7%;
    color: white;
    font-weight: bold;
}

.logo{
    width: 95px;
    cursor: pointer;
}

ul{
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li{
    display: inline-block;
    margin: 0px 35px;
    font-size: 19px;
    cursor: pointer;
    transition: color 0.3s ease;
}

ul li:hover {
    color: #BD2043;
}

.toggle-lang{
    width: 55px;
    cursor: pointer;
    margin-left: 38px;
}