.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #002651;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.idioma {
    margin-right: 3%; 
}

.logo {
    width: 7em;
    height:4em;
    position: relative;
    margin-left: 3%; 
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  
  .logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease; /* transición suave */
  }
  
  .imagen-hover {
    opacity: 0; /* imagen oculta por defecto */
  }
  
  .logo:hover .imagen-normal {
    opacity: 0; /* oculta la imagen normal cuando el contenedor se está poniendo en hover */
  }
  
  .logo:hover .imagen-hover {
    opacity: 1; /* muestra la imagen de hover cuando el contenedor se está poniendo en hover */
  }

ul {
    list-style: none;
    text-align: center;
    display: flex;
}

ul li {
    display: flex;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu li {
    margin: 0 2em; 
}

ul li:hover {
    color: #BD2043;
}

.toggle-lang {
    width: 4%;
    height: auto;
    margin-right: 3%; 
}

@media only screen and (max-width: 768px) {
    .menu {
        flex-direction: column; 
    }
    
    .idioma, .logo, .toggle-lang {
        margin: 1em 0; 
    }
}
