.img_container{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.foto_principal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_principal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.descripcio{
    display: flex;
    width: 100%;
    margin-left: 10%;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}
.texto{
    margin-top: 3em;
    width: 90%;
    line-height: 1.5; 
}
.titulo{
    margin-bottom: 2em;
}
.foto{
    display: flex;
    width: 30%;
    margin-left: 10%;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-right: 20%;

}