/* NoticiaGran.css */

.noticia-gran {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;

  }
  
  .titol {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
  }

  .go_Back {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

  .data {
    margin-bottom: 60px;
    font-size: 17px;
    text-align: center;
  }
  
  .imatge {
    max-width: 50%;
    height: auto;
    margin-bottom: 50px;
    display: block;
    margin: 0 auto; 
  }
  
  .descripcio {
    font-size: 20px;
    margin-top: 5%;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 4%;
    margin-left:10%;
    margin-right:10%;
  }
  
  