/*
    Titulo Página
*/

.titulo-recerca {
    margin-top: 5em;
    color: black;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 5em;
    display: flex; 
    align-items: center; 
}

.line-1,
.line-2 {
    height: 1px;
    background: black;
    flex-grow: 1; 
}

.line-1 {
    margin-right: 3em;
    margin-bottom: 0.4em;
    
}

.line-2 {
    margin-left: 3em; 
    margin-bottom: 0.4em;

}

/*
    LINIAS DE INVESTIGACIÓN
*/

.titulo-Linias{
    text-align: center; 
    color: black;
    margin-bottom: 2em;
}

.react-multi-carousel-list{
    margin-top: 2em;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: -20em;

}


.grupo_botones{
    display: flex;
    justify-content: space-between; 
    margin-bottom: 15em;

}

.boton_atras{
    margin-left: 2em;
}
.boton_adelante{
    margin-right: 2em;
}

.grupo_botones_projecto{
  display: flex;
  justify-content: space-between; 
  margin-top: 14em;

}
.grupo_botones_contractes{
  display: flex;
  justify-content: space-between; 
  margin-top: 7em;

}

@media screen and (min-width: 3000px) {
    .boton_atras {
      margin-left: 4em;
    }
  
    .boton_adelante {
      margin-right: 4em;
    }
  }
  
  @media screen and (max-width: 3000px) and (min-width: 1024px) {
    .boton_atras {
      margin-left: 3em;
    }
  
    .boton_adelante {
      margin-right: 3em;
    }
  }
  
  @media screen and (max-width: 1024px) and (min-width: 464px) {
    .boton_atras,
    .boton_adelante {
      margin: 0.5em;
    }
  }
  
  @media screen and (max-width: 464px) {
    .boton_atras,
    .boton_adelante {
      margin: 0.2em;
    }
  }

/*
    PROYECTOS
*/

.linia-separacion{
    margin-top: 5em;
    width: 100%;
    height: 0.1em;
    background-color: black;
}

.titulo-projectes-investigacio{
    color: black;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.carousel-projectes{
    margin-left: 4%;
    margin-right: 4%;
}
  
  .projecto{
    height: 20em;
    margin-bottom: 7em;
}

/*

CONTRACTES

*/


.titulo-contractes{
  color: black;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.carousel-contractes{
  margin-left: 4%;
  margin-right: 4%;
}

.contractes{
  height: 30em;
}
