.divMayor {
    /* padding:1px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

[class^="miembros"] {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 38, 81, 0.4);
    margin: 20px;
    font-size: small;
}

.portaImagen {
    width: 200px;
    height: 300px;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0; /* Añadido */
}

.imgMiembro {
    width: 200px;
    height: 300px;
    object-fit: cover;
    /* position: absolute;
    overflow: hidden; */
}

.info-list {
    list-style-type: none;
    padding: 20px;
    margin-top: 10px;
    flex-grow: 1;
    overflow: auto;
    flex-shrink: 1;
}

.info-list li {
    margin-bottom: 10px;
    
}

.info-list li a {
    color: black;
}

.descripcion-li {
    margin-top: 15px;
}

.descripcion-texto {
    display:block;
    line-height: 1.5;
    overflow: hidden;
    
}
.botonVistaContenido {
    display:flex;
    padding: 0;
    font-size: 14px;
    text-decoration: underline;
    color: #55a0f0;
    background: none; 
    border: none;
    cursor: pointer;
    
}
@media (max-width: 900px) {
    [class^="miembros"] {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin:20px
    }

    .portaImagen, .imgMiembro {
        width: 100%;
        height: auto;
    }
}

/* Para pantallas pequeñas */
@media (max-width: 600px) {
    .info-list {
        padding: 10px;
    }
}
