.divMayor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

[class^="miembros"] {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 4px 4px 8px #00265166;
    margin: 20px;
}

.portaImagen {
    width: 45%;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
}

.imgMiembro {
    width: 100%;
    height: 100%;
    display: block;
}

.info-list {
    list-style-type: none;
    padding:2em;
    margin-top: 10px;
}

.info-list li a{
    padding: 2%;
    font-size: 16px;
    color: black;
}
