/* Estilo para el componente "miembros" */
.divMayor{
    display: flex; 
    justify-content: center;
    flex-wrap:wrap;
    
    
}

[class^="miembros"] {
    width: 30em;
    height: 15em;
    display: flex; 
    align-items:left;
    justify-content: space-between; 
    padding:1em;
    background-color: #ffffff;
    border-radius: 15px; 
    /* border: 2px solid rgb(0, 0, 0) ; */
    margin:3em;
}

.portaImagen {
    max-width: 45%;
}

.imgMiembro {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    align-items: center; 
}

.info-list li{
    list-style-type: none;
    padding-right: 5em;
    margin:8% ;
    justify-content: space-between;     
    flex-direction: row;
}

.info-list {
    font-size: 16px;
    color:black;
}