body{
    font-family: "Roboto Condensed", sans-serif;
    font-size: large;
}
.divForm {
    font-family: "Roboto Condensed", sans-serif;
    width: 40%;
    height: 40%;
    margin:  auto;
    padding: 3%;
    /* border: 1px solid #ccc; */
    background-color: #002651;
    color: white;
    border-radius: 10px;
  }
  
  .spaceContacte {
    margin-bottom: 1%;
  }
  
  .spaceContacte label {
    display: block;
    margin-bottom: 2%;
  }
  
  .spaceContacte input[type="text"],
  .spaceContacte textarea {
    margin: auto;
    width: 95%;
    padding: 2%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  
  .spaceContacte textarea {
    font-family: "Roboto Condensed", sans-serif;    
    height: 100px;
  }
  
  .spaceContacte input[type="checkbox"] {
    margin-right: 5px;
  }
  
 
  