.footer {
    background-color: rgb(0, 38, 81);
    color: white;
    width: 100%;
    font-weight: bold;    
}

.Logos {
    margin-top: 0.2em;
    width: 45%;
}
.gobierno{
    width: 100%;
    background-color: white;
}

.Logos,
.desenvolupat,
.list-container {
    flex: 1; 
    margin-right: 20px; 
}
  
.list-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin-top: 0.2em; 
    list-style: none;
}

.list-container li {
    width: 45%; 
    font-size: 1.2em; 
    margin: 0.2em;
}
.list-container li:hover{
    color: #BD2043;
    text-decoration: underline;
}
a {
    color: white;
    text-decoration: none; 
}

a:hover {
    color: #BD2043;
}

.Container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 0.5em;
}

.desenvolupat {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.7em;
}

.login{
    margin-top: 3em;

}


/*Tablet Horizontal*/
@media only screen and (min-width: 768px) and (max-width: 1080px) and (orientation: landscape) {
    .footer-text{
        font-size: 0.9em;
    }
    .Logos {
        width: 30%;
        margin-right: 2em; 
    }
    .Container {
        justify-content: space-around; 
    }
    .list-container li {
        font-size: 0.9em; 
    }
    .desenvolupat {
        font-size: 0.9em;
    }

  
  }
  
  
  /* TABLET Vertical */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .footer-text{
        font-size: 0.7em;
    }
    .Logos {
        width: 30%;
        margin-right: 2em; 
    }
    .Container {
        justify-content: space-around; 
    }
    .list-container li {
        font-size: 0.7em; 
    }
    .desenvolupat {
        font-size: 0.7em;
    }

  }
  
  /* MOBILE Vertical */
  @media screen and (max-width: 767px) and (orientation: portrait) {

    .footer-text{
        font-size: 0.6em;
    }
    .Logos {
        max-width: 100%;
        max-height: 0px;
        width: 70%;
        margin-right: 3em; 
        margin-left: 3em;
        position: absolute;
        height: auto;
    }
    .Container{
        flex-direction: column;
    }
    .desenvolupat {
        font-size: 0.7em;
        margin-top: 8em;
        margin-left: 2em;
        margin-right: 2em;
    }
    .list-container  {
        font-size: 0.7em; 
        margin-right: 2em;
        margin-left: 2em;
        align-items: center;
        margin-top: -2em;
        margin-bottom: -2em;
    }
    .login{
        margin-top: 0em;
    
    }

  }