.publicacioCard{
    display: flex;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 3em;
}

.linia_negra_vertical{
    width: 0.36em;
    background: black;
    margin-right: 3em;
    margin-bottom: 0.4em;
    max-height: fit-content;
}