.divBoton {
    text-align: center;
  }
  
  .boton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .boton:hover {
    background-color: #0056b3;
  }
  