.divBoton {
    text-align: center;
  }
  
  .boton {
    padding: 10px 40px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .boton:hover {
    background-color: #1f8bf7;
    color: white;
  }
  